{
  "IMAP": {
    "host": "mail.domain.net",
    "port": 143,
    "ssl": false
  },
  "Server" {
    "port": 3000,
    "utf-8": true,
    "threads":"REFERENCES",
    "uploadPath":"./upload",
    "uploadExpireLength": 3600,
    "cleanupTime": 90000
  },
  "Options": {
    "prefer_RFC6154": true,
    "special_folders": {
      "Trash":"trash",
      "Sent Items":"sent",
      "Drafts":"drafts",
      "Spam":"spam",
      "Templates":"templates"
    }
  }
}
